<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        class="slide-bg-image"
        src="https://image.tmdb.org/t/p/original//xDMIl84Qo5Tsu62c9DGWhmPI67A.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="name">Black Panther: Wakanda Forever</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span>
            <span class="rating-value">7.5</span><span>/10</span>
          </span>

          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        Queen Ramonda, Shuri, M’Baku, Okoye and the Dora Milaje fight to protect their nation from
        intervening world powers in the wake of King T’Challa’s death.
      </div>
    </div>
  </div>
</div>
